.login {
    position: relative;
    right: 2.5vw;
    bottom: 10vw;
}

.login h3 {
    font-size: 25px;
}

.login input {
    width: 200px;
    height: 30px;
    margin: 3px;
}

.login .button {
    padding: 10px;
}

.login .login-button {
    background-color: #71C9CE;
    color: black;
    position: relative;
    left: 220px;
    bottom: 70px;
}

.login .signup-button {
    background-color: #93B5C6;
    position: relative;
    left: 15px;
    bottom: 35px;
}

.login .anonymous-button {
    color: skyblue;
    background-color: #252A34;
    position: relative;
    width: 90px;
    left: 40px;
    bottom: 35px;
}

.eye {
    display: inline-block;
    position: relative;
    font-size: 30px;
    right: 82px;
    bottom: 37px;
}

.eye:hover {
    color: red;
}