.good-bad {
    position: absolute;
    top: 61vh;
    left: 13vmax;
    font-size: 30px;
}

.good {
    color: slateblue;
    position: absolute;
}

.bad {
    color: tomato;
    position: absolute;
    left: 11vmax;
}
